<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutstyle.css">
    <link rel="stylesheet" href="aboutresponsive.css">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="part1"><div class="logo">
                <img src="./images/logo.png" alt="/">
            </div></div>
            <div class="part2">
                <ul>
                    <li id="#"><a href="/">HOME</li></a>
                    <li id="#"><a href="#team">CONTACT</li></a>
                </ul>
            </div>
        </div>
        <div class="text1">
            <p>WEDDINGS</p>
        </div>
    </div>
    <div class="page">
        <div class="heading">
            <h2>A Modern event Planner's Approach</h2>
        </div>
        <div class="txt">
            <p></p>
        </div>
        <div class="tile1">
            <div class="eventimg">
                <img src="./image/pic26.jpg" alt="\">
            </div>
            <div class="eventtxt">
                <li><span>WEDDINGS:</span>Experience the epitome of love and luxury with our Premium Wedding Package. Enjoy exclusive perks, gourmet catering, and VIP treatment for you and your guests.  </li>
                <li>From breathtaking venues to personalized planning, indulge in a seamless celebration of your love story.Our dedicated team ensures every detail is perfect, creating memories that last a lifetime.Elevate your wedding experience with sophistication, style, and unparalleled service.  Let us turn your dream wedding into a reality.
                    </li>
            </div>
        </div>
        <div class="services" id="Services">
            <a href="#tile1">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-27.jpg" alt="\">
                </div>

            </div>
        </a>
        <a href="#tile2">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-28.jpg" alt="\">
                </div>

            </div>
        </a>
            <a href="#tile3">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/pic-29.jpg" alt="\">
                </div>

            </div>
        </a>
            <a href="#tile4">
            <div class="events">
                <div class="servicesimg">
                    <img src="./image/wed.png" alt="\">
                </div>

            </div>
        </a>
        </div>

        <div class="team-1" id="team">
            <div class="heading">
                <h2>PACKAGES</h2>
            </div>
            <form method="post" action="/wedding_premium">
            <div class="member">
                <div class="img-1">
                </div>
                <div class="details-1">
                    <h4>PREMIUM </h4>
                    <p style="color: black;">CAPACITY:</p>
                    <p><ul><li>upto 500 Attendees</li></ul></p>
                    <p style="color: black;">PRICE:</p>
                    <p><ul><li>INR 80,00,000</li></ul></p>
                    <p style="color: black;">DESCRIPTION:</p>
                    <p><ul>
                        <li>High-end catering and gourmet menu options</li>
                        <li>Exclusive venue selection in prime locations</li>
                        <li>Full-service wedding planning and coordination</li>
                        <li>Premium decor and floral arrangements</li>
                        </ul>
                    </p>
                    <p style="color: black;">CANCELLATION AND REFUND POLICIES:</p>
                    <p>
                    <ul>
                    <li>refund available if canceled 90 days before the event</li>
                    <li>50% refund if canceled 45 days before the event</li>
                    <li>No refund within 45 days of the event</li>
                    </ul>
                    </p>
                    <button class="btn" type="submit">Proceed To Pay</button>
                </div>
            </div>
        </form>
        <form method="post" action="/wedding_standard">
            <div class="member">
                <div class="img-2">
                </div>
                <div class="details-1">
                    <h4>STANDARD</h4>
                    <p style="color: black;">CAPACITY:</p>
                    <p><ul><li>upto 300 Attendees</li></ul></p>
                    <p style="color: black;">PRICE:</p>
                    <p><ul><li>INR 50,00,000</li></ul></p>
                    <p style="color: black;">DESCRIPTION:</p>
                    <p><ul>
                        <li>Standard branding opportunities</li>
                        <li>Select venue options with professional ambiance</li>
                        <li>Comprehensive event planning assistance</li>
                        <li>Priority seating arrangements for the couple</li>
                        </ul>
                    </p>
                    <p style="color: black;">CANCELLATION AND REFUND POLICIES:</p>
                    <p>
                    <ul>
                    <li>Full refund available if canceled 60 days before the event</li>
                    <li>50% refund if canceled 30 days before the event</li>
                    <li>No refund within 30 days of the event</li>
                    </ul>
                    </p>
                    <button class="btn" type="submit">Proceed To Pay</button>
                </div>
            </div>
        </form>
        <form method="post" action="/wedding_basic">
            <div class="member">
                <div class="img-3">
                </div>
                <div class="details-1">
                    <h4>BASIC</h4>
                    <p style="color: black;">CAPACITY:</p>
                    <p><ul><li>upto 150 Attendees</li></ul></p>
                    <p style="color: black;">PRICE:</p>
                    <p><ul><li>INR 25,00,000</li></ul></p>
                    <p style="color: black;">DESCRIPTION:</p>
                    <p><ul>
                        <li>Standard wedding coordination</li>
                        <li>Access to standard entertainment options</li>
                        <li>Basic wedding materials</li>
                        <li>Basic event planning support</li>
                    </ul>
                    </p>
                    <p style="color: black;">CANCELLATION AND REFUND POLICIES:</p>
                    <p>
                    <ul>
                    <li>Full refund available if canceled 30 days before the event</li>
                    <li>50% refund if canceled 10 days before the event</li>
                    <li>No refund within 10 days of the event</li>
                    </ul>
                    </p>
                    <button class="btn" type="submit">Proceed To Pay</button>
                </div>
            </div>
        </form>
</body>
</html>